@{
ViewData["Title"] = "Home Page";
}
@section AdditionalStyles {
<link rel="stylesheet" href="~/css/index.css" />
}

<h2 style="text-align: center; margin: 20px;">Charts and statistics based off data from the MotionGlow project</h2>
<div class="row">
    <div class="col-md-6">
        <p>This line chart represents sound input values throughout the day</p>
        <canvas id="myLineChart"></canvas>
    </div>
    <div class="col-md-6">
        <p>This bar chart represents logs per week days</p>
        <canvas id="myBarChart"></canvas>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6 d-flex justify-content-center align-items-center" style="height: 100%; margin: 40px;">
        <p>This pie chart represents percentage of logs per device</p>
        <div style="width: 120%; height: 120%;">
            <canvas id="myPieChart"></canvas>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var soundLevelsToday = @Html.Raw(Json.Serialize(ViewData["SoundLevelsToday"]));
        var labels = Object.keys(soundLevelsToday);
        var data = Object.values(soundLevelsToday);
        var backgroundColorsLine = labels.map(() => '#' + Math.floor(Math.random()*16777215).toString(16));

        var ctxLine = document.getElementById('myLineChart').getContext('2d');
        var myLineChart = new Chart(ctxLine, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Sound levels',
                    data: data,
                    backgroundColor: backgroundColorsLine,
                    borderColor: backgroundColorsLine,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Hour of the Day'
                        }
                    }
                }
            }
        });

        var logsPerDayOfWeek = @Html.Raw(Json.Serialize(ViewData["LogsPerDayOfWeek"]));
        var labels = Object.keys(logsPerDayOfWeek);
        var data = Object.values(logsPerDayOfWeek);
        var backgroundColorsBar = labels.map(() => '#' + Math.floor(Math.random()*16777215).toString(16));

        var ctxBar = document.getElementById('myBarChart').getContext('2d');
        var myBarChart = new Chart(ctxBar, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Number of Logs per week days',
                    data: data,
                    backgroundColor: backgroundColorsBar,
                    borderColor: backgroundColorsBar,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Day of the Week'
                        }
                    }
                }
            }
        })

        var totalCount = @ViewData["TotalCount"];
        var logsPerDevice = @Html.Raw(Json.Serialize(ViewData["LogsPerDevice"]));
        var labels = Object.keys(logsPerDevice);
        var data = Object.values(logsPerDevice).map(count => (count / totalCount) * 100);
        var backgroundColors = labels.map(() => '#' + Math.floor(Math.random()*16777215).toString(16));

        var ctxPie = document.getElementById('myPieChart').getContext('2d');
        var myPieChart = new Chart(ctxPie, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: data,
                    backgroundColor: backgroundColors,
                    borderColor: backgroundColors,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: false,
                animation: {
                    duration: 2000
                }
            }
        });
</script>
}