@model List<MotionGlow.Models.ESP32_DeviceViewModel>

<div class="row">
    @foreach (var device in Model)
    {
        <div class="card">
            <h2>@device.DeviceName Details</h2>

            <p>Device Type: @device.DeviceType</p>
            <p>Location: @device.Location</p>
            <p>Description: @device.Description</p>
        </div>
    }
</div>