@model MotionGlow.Models.ESP32_DeviceViewModel

@if (Model == null)
{
<p>No data</p>
}
else
{
<h2>@Model.DeviceName Details</h2>

<p>Device Type: @Model.DeviceType</p>
<p>Location: @Model.Location</p>
<p>Description: @Model.Description</p>
}