/* dark-mode.css */
body {
    background-color: #121212; /* Dark mode background */
    color: #e0e0e0; /* Dark mode text color */
}

.navbar {
    background-color: #333333;
    color: #e0e0e0;
    border-bottom: 1px solid #444444; /* Dark mode border */
}

.footer {
    background-color: #222222;
    color: #e0e0e0;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem black, 0 0 0 0.25rem #ff8c00; /* Changed colors for dark mode */
}

.navbar-brand, .nav-link {
    color: #e0e0e0 !important;
}

.card {
    border: 1px solid #444444; 
    background-color: #333333;
    color: #e0e0e0;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
    transition: 0.3s;
    width: 30%;
    float: left;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2);
}

