/* site.css */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: white; /* Light mode background */
    color: black; /* Light mode text color */
}

.navbar {
    background-color: white;
    color: black;
    border-bottom: 1px solid #e3e3e3; /* Light mode border */
}

.footer {
    background-color: #f8f9fa;
    color: black;
}
